---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HomeOptions from '../components/HomeOptions.astro';
import Footer from '../components/Footer.astro';
import FloatingWhatsApp from '../components/FloatingWhatsApp.astro';
import '../styles/global.css';
---

<Layout>
	<Navbar />
	<main class="site-shell">
		<HomeOptions />
	</main>
	<Footer />
	<FloatingWhatsApp />
</Layout>
